<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.90.13" targetFramework="net46" />
  <package id="ManagedCuda-75-Standalone" version="7.5.7" targetFramework="net46" />
  <package id="ManagedCuda-75-x64" version="7.5.7" targetFramework="net46" />
  <package id="ManagedCuda-CudaDNN" version="3.0" targetFramework="net46" />
</packages>